/* شروع کارت */


body {
    font-family: Tahoma;
    direction: rtl;
    background: #f9f5e8;
    padding: 20px;
  }
  .card {
    background: #fffbe6;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  h2,
  h3 {
    text-align: center;
  }
  #barcode {
    margin-top: 20px;
    display: block;
    margin-right: auto;
  }
  button {
    margin-top: 30px;
    display: block;
    margin: auto;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .note {
    font-size: 14px;
   position: absolute;
   top: 27PC;
    font-style: italic;
  }



  .btn {
  outline: 0;
  justify-content: space-between;
  background: green;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.80;
}

.btn .animation {
  border-radius: 100%;
  text-align: center;
  animation: ripple 0.5s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}


/* ختم کارت */



/* شروع فورم */


body {
font-family: Tahoma;
direction: rtl;
background: #f9f5e8;
padding: 20px;
}
.container {
max-width: 500px;
margin: auto;
background: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;
}
label {
display: block;
margin-top: 10px;
}
input,
select {
width: 100%;
padding: 8px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}
button {
margin-top: 20px;
background: #007b5e;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
}

/* ختم فورم */

